<h1>牌の選択</h1>
<div id="tiles-container">
  <% @tiles.each do |tile| %>
    <%= image_tag("/images/#{tile.image_path}", alt: tile.name, class: 'tile-image') if tile.image_path.present? %>
  <% end %>
</div>